@font-face {
    font-family: N4;
    src: url(NotoSansJP-Regular.ttf);
}
@font-face {
    font-family: N5;
    src: url(NotoSansJP-Medium.ttf);
}
@font-face {
    font-family: N7;
    src: url(NotoSansJP-Bold.ttf);
}